* {
  font-family: "Arial", sans-serif; 
  font-size: 20px;                    
  color: #222;                        
}


.App {
  max-width: 100vw;
  max-height: 100vh;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.loading {
  margin-bottom: 10px;
  font-style: italic;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.auth-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

.auth-block {
  width: 320px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid #d0d0d0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.auth-block_exit {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 20px;
}

.exit-button {
  margin: auto 0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-buttons button {
  padding: 6px 12px;
}

.nav-buttons-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 20px;
}

.main-content {
  display: flex;
  margin-left: 20px;
}

h2 {
  margin: 10px 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.duration-input {
  margin-top: 10px;
}

.duration-input input {
  width: 60px;
}

.car-item {
  margin-bottom: 8px;
  padding-bottom: 4px;
}

.booking-item,
.car-item {
  display: flex;
  flex-direction: column;
}


.booking-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

button[disabled] {
  background: #6e9dcd;
  cursor: not-allowed;
}

button {
  padding: 6px 12px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover:not([disabled]) {
  background: #125a9c;
}